@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Noto Sans KR", serif;
  }
}
* {
  caret-color: transparent;
}

input, textarea, [contenteditable="true"] {
  caret-color: auto;
}

body {
  background-image: url("./assets/backgroundImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
